<div class="contact">
  <!-- Section principale -->
  <div class="contact__content">
    <div class="contact__image-container">
      <div class="decorative-shape shape-1"></div>
      <div class="decorative-shape shape-2"></div>
      <div class="decorative-shape shape-3"></div>
      <div class="decorative-shape shape-4"></div>

      <img
        class="contact__person"
        src="./assets/vecteezy_person-working-office_502289.svg"
        alt="Personne travaillant au bureau"
      />
    </div>
    <section class="contactForm">
      <div class="contactForm__header">
        <h2>Commencez votre simulation</h2>
      </div>
      <div class="contactForm__body">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form">
          <div class="form-group">
            <label for="firstName">Nom *</label>
            <input
              type="text"
              id="firstName"
              formControlName="firstName"
              required
              [class.invalid]="isFieldInvalid('firstName')"
            />
            <div class="error-message">
              <p *ngIf="isFieldInvalid('firstName')">
                {{ getErrorMessage("firstName") }}
              </p>
            </div>
          </div>

          <div class="form-group">
            <label for="lastName">Prénom *</label>
            <input
              type="text"
              id="lastName"
              formControlName="lastName"
              required
              [class.invalid]="isFieldInvalid('lastName')"
            />
            <div class="error-message">
              <p *ngIf="isFieldInvalid('lastName')">
                {{ getErrorMessage("lastName") }}
              </p>
            </div>
          </div>

          <div class="form-group">
            <label for="phoneNumber">Téléphone *</label>
            <input
              type="tel"
              id="phoneNumber"
              formControlName="phoneNumber"
              required
              [class.invalid]="isFieldInvalid('phoneNumber')"
              placeholder="Ex: 06 12 34 56 78"
            />
            <div class="error-message">
              <p *ngIf="isFieldInvalid('phoneNumber')">
                {{ getErrorMessage("phoneNumber") }}
              </p>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email *</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              required
              [class.invalid]="isFieldInvalid('email')"
            />
            <div class="error-message">
              <p *ngIf="isFieldInvalid('email')">
                {{ getErrorMessage("email") }}
              </p>
            </div>
          </div>

          <div class="form-group">
            <label for="address">Adresse *</label>
            <textarea
              type="address"
              id="address"
              formControlName="address"
              required
              [class.invalid]="isFieldInvalid('address')"
            ></textarea>
            <div class="error-message">
              <p *ngIf="isFieldInvalid('address')">
                {{ getErrorMessage("address") }}
              </p>
            </div>
          </div>

          <button type="submit" class="btn-primary" [disabled]="isSubmitting">
            <span *ngIf="!isSubmitting">Commencer ma simulation</span>
            <span *ngIf="isSubmitting">Chargement...</span>
          </button>
        </form>
      </div>
      <p class="contact_information">* champs obligatoires</p>
    </section>
  </div>
  <!-- Fin de la Section principale -->
</div>

<div class="features">
  <div class="features__header">
    <h2>Assurance pour Pros</h2>
    <p>Solutions d'assurance personnalisées</p>
  </div>
  
  <div class="features__grid">
    <div class="feature">
      <img src="assets/protection.svg" alt="Protection complète">
      <div class="feature__content">
        <h3>Protection complète</h3>
        <p>AssoPros offre une couverture complète pour protéger votre activité professionnelle. Que vous soyez indépendant, auto-entrepreneur ou gérant de TPE/PME, nous avons la solution adaptée à vos besoins.</p>
      </div>
    </div>

    <div class="feature">
      <img src="assets/tarifs.svg" alt="Tarifs compétitifs">
      <div class="feature__content">
        <h3>Tarifs compétitifs</h3>
        <p>Bénéficiez de tarifs compétitifs avec AssoPros pour une assurance de qualité. Nos offres sont conçues pour s'adapter à votre budget tout en vous offrant une protection optimale.</p>
      </div>
    </div>

    <div class="feature">
      <img src="assets/service.svg" alt="Service client dédié">
      <div class="feature__content">
        <h3>Service client dédié</h3>
        <p>Notre équipe est à votre écoute pour vous accompagner dans le choix de votre assurance. Profitez d'un service personnalisé et direct pour tous vos besoins.</p>
      </div>
    </div>

    <div class="feature">
      <img src="assets/simple.svg" alt="Simple et rapide">
      <div class="feature__content">
        <h3>Simple et rapide</h3>
        <p>AssoPros simplifie le processus d'assurance. Notre plateforme intuitive vous permet de souscrire et comparer les offres, sans tracas et de vous concentrer sur votre activité.</p>
      </div>
    </div>

    <div class="feature">
      <img src="assets/expertise.svg" alt="Expertise reconnue">
      <div class="feature__content">
        <h3>Expertise reconnue</h3>
        <p>Bénéficiez de notre expertise approfondie dans le domaine de l'assurance professionnelle. Notre équipe de spécialistes vous guide vers les meilleures solutions adaptées à votre secteur d'activité.</p>
      </div>
    </div>

    <div class="feature">
      <img src="assets/disponible.svg" alt="Disponibilité 24/7">
      <div class="feature__content">
        <h3>Disponibilité 24/7</h3>
        <p>Accédez à votre espace client et à nos services à tout moment. Notre plateforme en ligne est disponible 24h/24 et 7j/7 pour répondre à vos besoins en temps réel.</p>
      </div>
    </div>

  </div>
</div>
