// Couleurs principales
$primary-color: #16cc77;
$primary-hover: #07b866;
$primary-light: #0c864d;

// Couleurs d'état
$error-color: #dc3545;
$error-light: #fff8f8;

// Couleurs neutres
$border-color: #ccc;
$text-color: #333;
$disabled-color: #ccc;
