.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: black;
  padding: 30px 0;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header--collapsed {
  padding: 10px 0;
  height: 50px;

  .header__content {
    justify-content: flex-start;
    height: 30px;
  }

  .header__logo {
    max-width: 150px;
    margin: 0 0 0 20px;
  }
}

.header__logo {
  max-width: 200px;
  height: auto;
  margin-bottom: 0;
}

.header__tagline {
  margin-left: 20px;
  opacity: 1;
}

.header__tagline--hidden {
  opacity: 0;
  width: 0;
  margin: 0;
  overflow: hidden;
}

.main {
  flex: 1;
  padding-top: 140px;
  background: linear-gradient(157deg, rgb(22 204 119 / 13%), rgba(81, 69, 255, 0.21));
  min-height: calc(100vh - 140px - 150px);
}

.footer {
  padding: 20px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;
}

.footer__socialNetworks {
  padding: 20px;
  display: flex;
}

.footer__socialNetwork {
  padding: 0.5em 1em;
  filter: brightness(0) saturate(100%) invert(68%) sepia(30%) saturate(473%) hue-rotate(203deg) brightness(108%) contrast(101%);
}

.footer__socialNetwork:hover {
  filter: brightness(0) saturate(100%) invert(97%) sepia(7%) saturate(594%) hue-rotate(82deg) brightness(94%) contrast(98%);
}

.footer__iconSize {
  width: 25px;
  height: 25px;
}

@media (max-width: 950px) {
  .header__logo {
    max-width: 170px;
    height: auto;
    margin: 15px;
  }

  .header--collapsed .header__logo {
    max-width: 120px;
  }

  .header__tagline {
    display: none;
  }

  .footer__iconSize {
    width: 20px;
    height: 20px;
  }
}
